<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Camptour</title>
</head>
<body>
    <h1>Edit Camptour</h1>
    <form action="/camptours/<%= camptour._id %>?_method=PUT" method="POST">
    
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="camptour[title]" value="<%= camptour.title %>">
    </div>
    <div>
        <label for="location">Location:</label>
        <input type="text" id="location" name="camptour[location]" value="<%= camptour.location %>">
    </div>
    <button>Update Camptour</button>
    </form>
    <a href="/camptours">Back to All Camptour</a>
</body>
</html>