<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Camptour</title>
</head>
<body>
    <form action="/camptours" method="POST">
    
    <div>
        <label for="title">Title:</label>
        <input type="text" id="title" name="camptour[title]">
    </div>
    <div>
        <label for="location">Location:</label>
        <input type="text" id="location" name="camptour[location]">
    </div>
    <button>Add Camptour</button>
    </form>
    <a href="/camptours">Back to All Camptour</a>
</body>
</html>